*{
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
}
/*--------------Navbar CSS*/

.Container{
	width: 100%;
	display: flex;
  position: absolute;
  z-index: 2;
  height: 8vh;
  }
  
  .display-none{
	display: flex;
	width: 75%;
  }
  
  .nav-logo{
	display: flex;
	align-items: center;
	color: white;
	width: 11%;
	font-size: 180%;
	font-weight: 700;
	margin-left: 5%;
	font-family: 'Bree Serif', serif;
  }

  .scrolled{
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(95,19,108);
    background: linear-gradient(90deg, rgba(95,19,108,1) 0%, rgba(88,11,107,1) 46%, rgba(139,14,169,1) 100%);
    color: white;
  }
  
  .nav-components{
	display: flex;
	width: 100%;
  margin-right: 5%;
  }
  
  .nav-components ul{
	width: 100%;
	list-style: none;
	display: flex;
	font-weight: 500;
	align-items: center;
	justify-content: center;
  }
  
  .nav-components ul li{
	margin: 0 5%;
  }
  
  .nav-components ul li a{
	text-decoration: none;
	color: white;
  }

  .nav-components ul li a{
    position: relative;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 0 10px;
  }

  .nav-components ul li a:before,
  .nav-components ul li a:after{
    content:"";
    position: absolute;
    height: 15%;
    width: 0;
    background-color: black;
    transition: 0.5s;
  }

  .nav-components ul li a:after{
    left: 0;
    bottom: -30%;
  }

  .nav-components ul li a:before{
    right: 0;
    bottom: 100%;
  }

  /* .nav-components ul li a:hover{
    font-weight: 700;
  } */

  .nav-components ul li a:hover:after,
  .nav-components ul li a:hover:before{
    width: 100%;
  }
  
  .nav-login{
	width: 9%;
	flex-direction: row-reverse;
	align-items: center;
	padding-right: 1%;
  }

  .nav-login button, .nav-login2 button {
    width: 100%;
    padding: 1% 13%;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 700;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   .nav-login button::before,
   .nav-login2 button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .nav-login button:hover,
   .nav-login2 button:hover {
    color: #e8e8e8;
   }
   
   .nav-login button:hover::before,
   .nav-login2 button:hover::before
   {
    width: 100%;
   }
  .sidebar{
	display: none;
   }

   .login-dropdown button{
    display: flex;
   }

   .login-dropdown button p{
    margin: 0 10%;
   }

   .login-dropdown button i{
    margin-top: 5%;
   }

   @media  screen and (max-width: 1160px) {
		.nav-login{
			width: 9%;
		}

    .cta{
      width: 46%;
    }
   }

   @media  screen and (max-width: 980px) {
    .display-none{
      width: 65%;
      margin-left: 4%;
    }
    .nav-login{
      width: 15%;
    }
    .nav-login button{
      width: 74%;
    }
  }
  

   @media screen and (max-width: 900px) {
	.Container{
	  display: flex;
    align-content: center;
	}
	.nav-logo{
	  width: 71%;
	  position: absolute;
	  margin-left: 5%;
	}

	.nav-logo a{
		padding-left: 4%;
		font-size: 70%;
	}

	.nav-login{
		width: 20%;
    margin: 0 3%;
    margin-left: 68%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
	}

	.nav-login2{
		width: 18%;
		margin-left: 37%;
		border-radius: 24px;
	}

	.nav-login button{
		font-size: 60%;
    margin-left: 0%;
	}

	.nav-login2 button{
		font-size: 80%;
    
	}
  
	.container1{
    z-index: 1;
    width: 50%;
    display: block;
   
    /* background-color: black; */
border-radius: 5px;
    background:  rgb(70, 20, 120) ;
    position: absolute;
    padding-left: 3%;
    padding-right: -1%;
    padding-top: 30%;
    padding-bottom: 3%;
    margin-top: 20%;
    margin-left: 1%;
    transition: all 3s;
	}
  
	.nav-components ul{
	  display: block;
	  padding: 0;
	}
  
	.nav-components ul li{
    display: flex;
	  margin: 0 3%;
	  padding: 5% 0;
	}
  
	.display-none{
	  display: none;
	}
  
	.sidebar{
    width: 3.5%;
    font-size: 85%;
	  display: flex;
    align-items: center;
    margin: 2%;
    z-index: 2;
	  }
	.sidebar button{
	  background-color: transparent;
	  color: white;
	  border: none;
	}

  .header{
    display: flex;
    justify-content: space-between;
  }
  .nav-components ul li a:before,
  .nav-components ul li a:after{
    color: white;
  }
  }

  @media screen and (max-width: 300px) {
	.sidebar{
		margin-top: 0.8%;
	}
	
	.nav-login2{
		margin-left: 50%;
	}
	.nav-logo a{
		margin-left: 2%;
	}
  }

/*-----------Navbar CSS Ends----------------*/

  /*News Carousel*/
  .product-carousel {
    width: 100%;
    display: flex;
    /* overflow: hidden; */
    padding: 26px;
}

.product-container {
    width: 90%;
    padding: 0 10px;
    display: flex;
    overflow-x: hidden;
    gap: 3%;
    /* scroll-behavior: smooth; */
}

.pre-btn,
.next-btn {
    border: none;
    width: 5%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 15%;
}

.next-btn {
    right: 0;
}

.next-btn p,
.pre-btn p {
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.436);
    box-shadow: 0px 0px 10px 1px black;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news {
  min-width: 27.5%;
  /* max-width: 300px; */

  height: 60vh;
  border-radius: 10%;
  border-color: #282c34;
  box-shadow:2px 3px 2px 3px purple;
  margin: 10px;
}

.news_img{
    width: 90%;
    margin: 5%;
    height: 25vh;
    border-radius: 10%;
}

.news_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
}

.news-title{
  width: 90%;
  height: 20%;
  margin: 5%;
  text-align: left;
  font-size: 120%;
  font-weight: 700;
  object-fit: cover;
  overflow: hidden;
}

.news-title p{
  object-fit: cover;
}

.news-published-date{
  text-align: right;
  margin-right: 5%;
  font-weight: 600;
}

.news-read-more{
  display: flex;
  text-align: left;
  /* background-color: black;
  color: white; */
  margin: 5%;
width: 55%;
  padding: 2.5%;
} 

.news-read-more button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
 }
 
 .news-read-more button.learn-more {
  width: 12rem;
  height: auto;
 }
 
 .news-read-more button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 2.5rem;
  height: 2.5rem;
  background: #282936;
  border-radius: 1.625rem;
 }
 
 .news-read-more button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }
 
 .news-read-more button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 
 .news-read-more  button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }
 
 .news-read-more button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.45rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
 }
 
 .news-read-more button:hover .circle {
  width: 100%;
 }
 
 .news-read-more button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
 }
 
 .news-read-more button:hover .button-text {
  color: #fff;
 }

 .news-heading{
  text-align: center;
  
  margin: 5%;
  margin-top: 10%;
  margin-bottom: 1%;
  font-size: 200%;
  font-weight: 700;
 }

 @media  screen and (max-width: 1160px) {
  .news{
    height: 50vh;
  }

  .news_img{
    height: 22vh;
  }
  
  .news-read-more{
    width: 70%;
    margin: 3%;
  }

  .cta{
    width: 40%;
  }
 }

 @media  screen and (max-width: 910px) {
  .product-container{
    gap: 11.8%;
    padding: 0 8%;
  }

  .news{
    min-width: 40%;
  }
}

  @media screen and (max-width: 700px){
    .pre-btn, .next-btn{
      width: 10%;
      margin-top: 21%;
    }

    .product-container{
      width: 60%;
      margin: 0 18%;
      padding: 0;
      gap: 10%;
    }

    .news{
      min-width: 85%;
      height: 60vh;
    }

    .news_img{
      height: 25vh;
    }
  }


 /*footer*/

 .footer-btn{
  width: 90%;
 }

.footer-btn button {
  width: 100%;
  margin-left: 3%;
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
}

.footer-btn button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.footer-btn button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.footer-btn button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.footer-btn button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.footer-btn button:hover span {
  transform: translateX(5em);
}

.footer-btn button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

/*dashboard button css-------*/
.cta {
  width: 36%;
  height: 100%;
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  display: flex;
  background: none;
  justify-content: space-evenly;
  align-items: center;
 }
 
 .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #c111c9;
  width: 29%;
  height: 130%;
  transition: all 0.3s ease;
 }
 
 .cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 150%;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
  margin-top: 8%;
 }


 .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
  margin-top: 8%;
 }
 
 .cta:hover:before {
  width: 100%;
  background: #5815c2;
 }
 
 .cta:hover svg {
  transform: translateX(0);
  stroke: white;
 }
 
 .cta:active {
  transform: scale(0.95);
 }

 .cta:hover span
 {
  color: white;
 }

 @media  screen and (max-width: 1040px){
  .cta{
    width:45%;
  }
 }

 @media  screen and (max-width: 950px){
  .cta{
    width:48%;
  }
 }

 @media  screen and (max-width: 870px){
  .cta{
    width:52%;
  }
 }

 @media  screen and (max-width: 500px){
  .cta{
    width:65%;
  }
 }

 /*Sign In CSS*/
:root {
	--color-white: #ffffff;
	--color-light: #f1f5f9;
	--color-black: #121212;
	--color-night: #001632;

	--color-red: #f44336;
	--color-blue: #1a73e8;
	--color-gray: #80868b;
	--color-grayish: #dadce0;

	--shadow-normal: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
		0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

html {
	font-size: 100%;
	font-size-adjust: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
} 

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
	list-style: none;
	list-style-type: none;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.5;
	color: var(--color-black);
	background: var(--color-light);
} */

a,
button {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	text-decoration: none;
}

img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
} 

/* Components*/
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 80rem;
	min-height: 100vh;
	width: 100%;
	padding: 0 2rem;
	margin: 0 auto;
}

.ion-logo-google {
		font-size: 1.65rem;
		line-height: inherit;
		margin-right: 0.5rem;
		color: var(--color-red);
	} 


.text {
	font-family: inherit;
	line-height: inherit;
	text-transform: unset;
	text-rendering: optimizeLegibility;
}

	.text-large {
		font-size: 2rem;
		font-weight: 600;
		color: var(--color-black);
	}

	.text-normal {
		font-size: 1rem;
		font-weight: 400;
		color: var(--color-black);
	}

	.text-links {
		font-size: 1rem;
		font-weight: 400;
		color: var(--color-blue);
  }

		.text-links:hover {
			text-decoration: underline;
		} */

/* Main*/
.main 
	.wrapper {
		max-width: 28rem;
		width: 100%;
		margin: 2rem auto;
		padding: 2rem 2.5rem;
		border: none;
		outline: none;
		border-radius: 0.25rem;
		color: var(--color-black);
		background: var(--color-white);
		box-shadow: var(--shadow-large);
  }

		.form {
			width: 100%;
			height: auto;
			margin-top: 2rem;
    }

			.form { 
				/* display: flex; */
				align-items: center;
				justify-content: space-between;
				margin-bottom: 1.25rem;
			}

			.form .input-field {
				font-family: inherit;
				font-size: 1rem;
				font-weight: 400;
				line-height: inherit;
				width: 100%;
				height: auto;
				padding: 0.75rem 1.25rem;
				border: none;
				outline: none;
				border-radius: 2rem;
				color: var(--color-black);
				background: var(--color-light);
				text-transform: unset;
				text-rendering: optimizeLegibility;
			}

			.input-submit {
				font-family: inherit;
				font-size: 1rem;
				font-weight: 500;
				line-height: inherit;
				cursor: pointer;
				min-width: 40%;
				height: auto;
				padding: 0.65rem 1.25rem;
				border: none;
				outline: none;
				border-radius: 2rem;
				color: var(--color-white);
				background: var(--color-blue);
				box-shadow: var(--shadow-medium);
				text-transform: capitalize;
				text-rendering: optimizeLegibility;
			}

      .input-control {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 1.25rem;
			}

		.striped {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin: 1rem 0;
    }

			.striped-line {
				flex: auto;
				flex-basis: auto;
				border: none;
				outline: none;
				height: 2px;
				background: var(--color-grayish);
			}

			.striped-text {
				font-family: inherit;
				font-size: 1rem;
				font-weight: 500;
				line-height: inherit;
				color: var(--color-black);
				margin: 0 1rem;
			}
		

		
			.method-control {
				margin-bottom: 1rem;
			}

			.method-action {
				font-family: inherit;
				font-size: 0.95rem;
				font-weight: 500;
				line-height: inherit;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: auto;
				padding: 0.35rem 1.25rem;
				outline: none;
				border: 2px solid var(--color-grayish);
				border-radius: 2rem;
				color: var(--color-black);
				background: var(--color-white);
				text-transform: capitalize;
				text-rendering: optimizeLegibility;
				transition: all 0.35s ease;
      }

				.method-action:hover {
					background: var(--color-light);
				}

    
  /* Bar Graph Vertical */
.intrest-rates-bar-graph{
  width: 100%;
  margin-bottom: 60%;
}
.intrest-rates-bar-graph h1{
  margin-left: 5%;
  font-weight: 600;
  font-size: larger;
}
.bar-graph-vertical {
  margin-top: 80px;
  max-width: 80%;
}
.bar-graph .year {
  -webkit-animation: fade-in-text 2.2s 0.1s forwards;
  -moz-animation: fade-in-text 2.2s 0.1s forwards;
  animation: fade-in-text 2.2s 0.1s forwards;
}



.bar-graph-vertical .bar-container {
  float: left;
  height: 100vh;
  margin-right: 8px;
  text-align: center;
  width: 100%;
}

.percentage-bar{
  width: 50%;
    margin-left: 31%;
    margin-right: 30%;
    margin-top: 1%;
    /* display: flex; */
    position: absolute;
    gap: 3%;
    height: 100vh;
    /* transform: rotate(-90deg); */
}

.percentage-bar .bar {
  border-radius: 3px;
  bottom: 40px;
  position: relative;
  height: 5vh;
  margin: 3% 0;
}

  .bar-graph-vertical .bank-names .year{
    width: 49%;
    height: 5%;
    bottom: 0;
    left: 0;
    margin: 3.4% 0;
    position: relative;
    right: 0;
  }

.bank-names{
  margin-bottom: 15%; 
  height: 100vh;
    width: 46%;
    gap: 10%;
    gap: 3.5%;
    position: absolute;
    margin-top: -2%;
    text-align: right;
}


.bank-names .year p{
  font-weight: 600;
}

.bar-graph-two .bar::after {
  -webkit-animation: fade-in-text 2.2s 0.1s forwards;
  -moz-animation: fade-in-text 2.2s 0.1s forwards;
  animation: fade-in-text 2.2s 0.1s forwards;
  color: #fff;
  content: attr(data-percentage);
  font-weight: 700;
  left: 6px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: left;
  top: 6px;
  /* -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); */
}

.bar-graph-two .bar-one .bar {
  background-color: #64b2d1;
  -webkit-animation: show-bar-one-vertical 1.2s 0.1s forwards;
  -moz-animation: show-bar-one-vertical 1.2s 0.1s forwards;
  animation: show-bar-one-vertical 1.2s 0.1s forwards;
}

@media  screen and (max-width: 940px){
  .bank-names{
    margin-top: -2%;
  }
}

@media  screen and (max-width: 600px){

  .bank-names{
    margin-top: -17%;
    width: 120%;
  }

  .bar-graph-vertical .bank-names .year{
    margin: 1.3% 0;
  }

  .percentage-bar{
    margin-left: 60%;
    margin-top: -10%;
  }

  .percentage-bar .bar{
    margin: 3% 0;
  }
}



