*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*--------------Navbar CSS*/

.Container{
	width: 100%;
	display: flex;
   /* background-color: #282c34; */
   position: absolute;
	
  }
  
  .display-none{
	display: flex;
	width: 89%;
  }
  
  .nav-logo{
	display: flex;
	align-items: center;
	color: white;
	width: 11%;
	font-size: 180%;
	font-weight: 700;
	margin-left: 5%;
	font-family: 'Bree Serif', serif;
  }
  
  .nav-components{
	display: flex;
	width: 80%;
  }
  
  .nav-components ul{
	width: 100%;
	list-style: none;
	display: flex;
	font-weight: 500;
	align-items: center;
	justify-content: center;
  }
  
  .nav-components ul li{
	margin: 0 5%;
  }
  
  .nav-components ul li a{
	text-decoration: none;
	color: white;
  }

  .nav-components ul li a{
    position: relative;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 0 10px;
  }

  .nav-components ul li a:before,
  .nav-components ul li a:after{
    content:"";
    position: absolute;
    height: 3px;
    width: 0;
    background-color: black;
    transition: 0.5s;
  }

  .nav-components ul li a:after{
    left: 0;
    bottom: -6px;
  }

  .nav-components ul li a:before{
    right: 0;
    bottom: 18px;
  }

  .nav-components ul li a:hover{
    font-weight: 700;
  }

  .nav-components ul li a:hover:after,
  .nav-components ul li a:hover:before{
    width: 100%;
  }



  
  /* .nav-components ul li:hover{
	text-decoration: underline;
	cursor: pointer;
  } */
  
  .nav-login{
	width: 9%;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	padding-right: 1%;
  }

  .nav-login button{
	background-color: white;
	color: black;
	border: none;
	font-weight: 600;
	font-size: 120%;
	padding: 2% 15%;
	border-radius: 10px;
  }

  .nav-login2 button{
	background-color: white;
	color: black;
	border: none;
	font-weight: 600;
	font-size: 120%;
	padding: 5% 15%;
	border-radius: 10px;
  }

  .nav-login button, .nav-login2 button {
    padding: 5% 13%;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 700;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   .nav-login button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .nav-login button:hover {
    color: #e8e8e8;
   }
   
   .nav-login button:hover::before {
    width: 100%;
   }

  
  
  .sidebar{
	display: none;
   }

   @media  screen and (max-width: 1100px) {
		.nav-login{
			width: 18%;
		}
   }
  

   @media screen and (max-width: 500px) {
	.Container{
	  display: flex;
	}
	.nav-logo{
	  width: 71%;
	  position: absolute;
	  margin-left: 5%;
	}

	.nav-logo a{
		padding-left: 4%;
		font-size: 70%;
	}

	.nav-login{
		width: 22%;
		margin-left: 70%;
	}

	.nav-login2{
		width: 22%;
		margin-left: 55%;
		border-radius: 24px;
	}

	.nav-login button{
		font-size: 60%;
		font-weight: 600;
	}

	.nav-login2 button{
		font-size: 60%;
	}
  
	.container1{
	  width: 20%;
	  display: block;
	  background-color: black;
	  position: relative;
	  margin-top: -5%;
	  padding-left: 3%;
	  padding-right: 10%;
	  padding-top: 5%;
	  margin-left: -3%;
	}
  
	.nav-components ul{
	  display: block;
	  padding: 0;
	}
  
	.nav-components ul li{
	  margin: 0 5%;
	  padding: 5% 0;
	}
  
	.display-none{
	  display: none;
	}
  
	.sidebar{
	  display: inline;
	  margin-top: 0.8%;
	  /* width: 20%; */
	  
	}
  
	.sidebar2{
	position: absolute;
    /* margin-top: 3%; */
    z-index: 1;
    /* width: 30%; */
	margin-left: 20%;
    padding-right: 2%;
	}
	.sidebar2 button{
		background-color: transparent;
		border: none;
		color: white;
	}
	.sidebar button{
	  background-color: transparent;
	  color: white;
	  border: none;
	}
	
  }

  @media screen and (max-width: 300px) {
	.sidebar{
		margin-top: 0.8%;
	}
	
	.nav-login2{
		margin-left: 50%;
	}
	.nav-logo a{
		margin-left: 2%;
	}
  }

  /*News Carousel*/
  .product-carousel {
    width: 100%;
    display: flex;
    /* overflow: hidden; */
    padding: 26px;
}

.product-container {
    width: 84%;
    padding: 0 10px;
    display: flex;
    overflow-x: hidden;
    /* scroll-behavior: smooth; */
}

.pre-btn,
.next-btn {
    border: none;
    width: 8%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 15%;
}

.next-btn {
    right: 0;
}

.next-btn p,
.pre-btn p {
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.436);
    box-shadow: 0px 0px 10px 1px black;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news {
  min-width: 31.5%;
  /* max-width: 300px; */

  height: 60vh;
  border-radius: 10%;
  border-color: #282c34;
  box-shadow:2px 3px 2px 3px purple;
  margin: 10px;
}

.news_img{
    width: 90%;
    margin: 5%;
    height: 25vh;
    border-radius: 10%;
}

.news_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
}

.news-title{
  width: 90%;
  height: 20%;
  margin: 5%;
  text-align: left;
  font-size: 120%;
  font-weight: 700;
  object-fit: cover;
}

.news-title p{
  object-fit: cover;
}

.news-published-date{
  text-align: right;
  margin-right: 5%;
}

.news-read-more{
  display: flex;
  text-align: left;
  /* background-color: black;
  color: white; */
  margin: 5%;
width: 60%;
  padding: 2.5%;
} 

/* .news-read-more button { */
  /* color: #fff; */
  /* font-weight: 700;
  font-size: 20px; */
  /* margin-top: 60px; */
  /* letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: transparent;
}
.news-read-more button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.news-read-more button:hover svg {
  margin-left: 25px;
}
.banner img {
  animation: updown 3s linear infinite;
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
} */ 

.news-read-more button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
 }
 
 .news-read-more button.learn-more {
  width: 12rem;
  height: auto;
 }
 
 .news-read-more button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
 }
 
 .news-read-more button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }
 
 .news-read-more button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 
 .news-read-more  button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }
 
 .news-read-more button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }
 
 .news-read-more button:hover .circle {
  width: 100%;
 }
 
 .news-read-more button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
 }
 
 .news-read-more button:hover .button-text {
  color: #fff;
 }

 .news-heading{
  text-align: left;
  margin: 5%;
  margin-bottom: 1%;
  font-size: 200%;
  font-weight: 700;
 }

 /*footer*/

 .footer-btn{
  width: 90%;
 }

.footer-btn button {
  width: 100%;
  margin-left: 3%;
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
}

.footer-btn button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.footer-btn button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.footer-btn button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.footer-btn button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.footer-btn button:hover span {
  transform: translateX(5em);
}

.footer-btn button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}


